body{
	background-color : #f5f5f5;
	font-family:'Meiryo UI','Hiragino Kaku Gothic Pro',Verdana,sans-serif;
	}
	
table {
	white-space : nowrap;
	width : 100%;
	}

td.negative {
	color : red;
	}
	
.time-frame {
	color : #000000; width : 100%; font-family : Consolas;}

.time-frame > div {
	width : 100%; text-align : center;}
	
#date-part {
	font-size: 1.2em;
	}

#time-part {
	font-size: 2em;
	}

code, pre {
   font-family:Consolas, 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Monaco, monospace, 'MS Gothic';
   }