<style>
.co2map {float:left}
iframe {width:99%;height:30%}
</style>

<div class="co2map">Ryōri/綾里<br>
<iframe height='30%' frameborder="0" src="http://maps.google.com/maps?q=39.031333,141.821463&z=3&output=embed&hl=us&t=e"></iframe>
</div>
<div class="co2map">Minami-Tori-shima/南鳥島<br>
<iframe height='30%' frameborder="0" src="http://maps.google.com/maps?q=24.289418,153.983041&z=3&output=embed&hl=us&t=e"></iframe>
</div>
<div class="co2map">Yonaguni-jima/与那国島<br>
<iframe height='30%' frameborder="0" src="http://maps.google.com/maps?q=24.466518,123.010643&z=3&output=embed&hl=us&t=e"></iframe>
</div>

<div align="center"><a href="http://www.data.jma.go.jp/gmd/cpd/elnino/kanshi_joho/fig/c_b_region_hp.png"><img src="http://www.data.jma.go.jp/gmd/cpd/elnino/kanshi_joho/fig/c_b_region_hp.png" alt="" width="90%"></a><br>Figure 1 Source http://www.data.jma.go.jp/gmd/cpd/data/elnino/index/dattab.html</div>