<style>
table, td{border: none;}
</style>

<table style="table-layout:fixed;"><tbody><tr>
<td width="10%">Asset Management Consulting[browser-shot url="https://am-consulting.co.jp"]</td>
<td width="10%">法令条文検索[browser-shot url="https://laws.am-consulting.co.jp/"]</td></tr><tr>
<td>twitter:ID AMC2_Japan[browser-shot url="https://twitter.com/AMC2_Japan"]</td>
<td>twilog:ID AMC2_Japan[browser-shot url="http://twilog.org/amc2_japan"]</td></tr><tr>
<td>olive[browser-shot url="http://olive.saecanet.com/"]</td>
<td>SaECaNet[browser-shot url="https://www.saecanet.com"]</td></tr><tr>
<td>youtube channel "Curiosity"[browser-shot url="https://www.youtube.com/user/michiomitake"]</td>
<td>Equations[browser-shot url="https://equations.am-consulting.co.jp"]</td></tr><tr>
<td>Curiosity[browser-shot url="https://curiosity.am-consulting.co.jp"]</td>
<td>Google Store[browser-shot url="https://play.google.com/store/apps/developer?id=%E3%82%A2%E3%82%BB%E3%83%83%E3%83%88%E3%83%BB%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%B5%E3%83%AB%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE&hl=ja"]</td></tr><tr>
<td>twitCasting[browser-shot url="https://twitcasting.tv/amc2_japan/show/"]</td>
<td>GitHub[browser-shot url="https://github.com/am-consulting"]</td></tr><tr>
<td>facebook[browser-shot url="https://www.facebook.com/asset.management.consulting/"]</td>
<td>The Beam[browser-shot url="https://www.saecanet.com/list_of_beamcalculation.php"]</td>
</td></tbody></table>

<!--
<td>Google Custom Search[browser-shot url="https://equations.am-consulting.co.jp/gcs.html"]</td>
<td>Indicator[browser-shot url="https://indicator.am-consulting.co.jp"]</td>
-->