<table style="border:none; table-layout:fixed;">
<tbody>
<tr>
	<td style="border:none" width="10%">
	　Asset Management Consulting
	　[browser-shot url="http://am-consulting.co.jp"]
	</td>
	<td style="border:none"  width="10%">
	 olive
	　[browser-shot url="http://olive.saecanet.com/"]
	</td>
</tr>
<!--
</tbody>
</table>
<table style="border:none; table-layout:fixed;">
<tbody>
-->
<tr>
	<td style="border:none" width="10%">
	　SaECaNet
	　[browser-shot url="http://www.saecanet.com"]
	</td>
	<td style="border:none" width="10%" >
	　youtube channel "Curiosity"
	　[browser-shot url="https://www.youtube.com/user/michiomitake"]
	</td>
</tr>
<tr>
	<td style="border:none">
	　Equations
	　[browser-shot url="http://equations.am-consulting.co.jp"]
	</td>
	<td style="border:none">
	　Curiosity
	　[browser-shot url="http://curiosity.am-consulting.co.jp"]
	</td>
</tr>
<tr>
	<td style="border:none">
	　Google Store
	　[browser-shot url="https://play.google.com/store/apps/developer?id=%E3%82%A2%E3%82%BB%E3%83%83%E3%83%88%E3%83%BB%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%B5%E3%83%AB%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE&hl=ja"]
	</td>
	<td style="border:none">
	　twitCasting
	　[browser-shot url="http://twitcasting.tv/amc2_japan/show/"]
	</td>
</tr>
<tr>
	<td style="border:none">
	　twitter:ID AMC2_Japan
	　[browser-shot url="https://twitter.com/AMC2_Japan"]
	</td>
	<td style="border:none">
	　GitHub
	　[browser-shot url="https://github.com/am-consulting"]
	</td>
</tr>
<tr>
	<td style="border:none">
	　facebook
	　[browser-shot url="https://www.facebook.com/asset.management.consulting/"]
	</td>
	<td style="border:none">
	　Google Custom Search
	　[browser-shot url="http://equations.am-consulting.co.jp/gcs.html"]
	</td>
</tr>
<tr>
<!--
	<td style="border:none">
	　twilog:ID AMC2_Japan
	　[browser-shot url="http://twilog.org/amc2_japan"]
	</td>
-->


	<td style="border:none">
	　Indicator
	　[browser-shot url="http://indicator.am-consulting.co.jp"]
	</td>





	<td style="border:none">
	 The Beam	
	　[browser-shot url="http://www.saecanet.com/list_of_beamcalculation.php"]
	</td>
</tr>
</tbody>
</table>