body {
/*	
	max-width: 1900px;
	margin: auto;
*/	
font-family:'Hiragino Kaku Gothic Pro','Meiryo UI',Verdana,sans-serif;
}
.main-container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

table {
	white-space: nowrap;
	width: 100%;
}

td.negative {
	color: red;
}

tt, code, pre {
   font-family: 'MS Gothic', 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}
/* 参照 : http://qiita.com/quattro_4/items/d56dc21adb7c5f2873ef */

/* 参照 : http://code-tricks.com/awesome-blockquote-styling-with-css/ */
blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
	  
  /*Font*/
  font-family: 'Hiragino Kaku Gothic Pro','Meiryo UI',Verdana,sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
	  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
	  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  content: "\201D";

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  right: 10px;
  bottom: 0px;
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover {
 color: #666;
}

blockquote em {
  font-style: italic;
}

/*
pre:not([class]) {
	background-color: white;
}
  
h1 {
  font-size: 34px;
}
h1.title {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
.table th:not([align]) {
  text-align: left;
}
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}
img {
  max-width:100%;
  height: auto;
}
.tabbed-pane {
  padding-top: 12px;
}
button.code-folding-btn:focus {
  outline: none;
}
*/